@charset "utf-8";

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #50609c;
    width: 1000px;
    background-image: url(../static/images/planet.png);
}
#navigation {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsla(214,17%,52%,0.84);
    color: #FFDB91;
    border-radius: 34px;
}
#navigation a {
    color: #b1b3cc;
}
#navigation a:hover {
    color: #FFFFFF;
}
#content {
    background-color: rgb(45, 58, 103);
    background-color: rgba(45, 58, 103, 0.84);
    width: 800px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    border-radius: 30px;
    color: #000000;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", serif;
    font-weight: bolder;
    text-align: left;
    float: none;
}
#content p a {
    color: #b1b3cc;
    text-decoration: none;
}
#content p a:hover {
    color: #FFFFFF;
}
#content li a {
    color: #b1b3cc;
    text-decoration: none;
}
#content li a:hover {
    color: #FFFFFF;
}
#footer {
    background-color: hsla(214,17%,52%,0.84);
    color: #FFFFFF;
    text-align: center;
    border-radius: 34px;
}

