{{extend 'layout.html'}}

<h1>Photoshop/Illustrator drawings</h1>
<center><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="360" height="280" align="middle"><param name="wmode" value="window" /><param name="movie" value="http://st.deviantart.net/styles/swf/sitback.swf/sitback.swf?v_0_9_7_05" /><param name="menu" value="true" /><param name="quality" value="high" /><param name="bgcolor" value="#000000" /><param name="flashvars" value="rssQuery=gallery:SMorstan/54598629&ss=8,3,0" /><param name="allowFullScreen" value="true" /><embed src="http://st.deviantart.net/styles/swf/sitback.swf/sitback.swf?v_0_9_7_05" quality="high" wmode="window" flashvars="rssQuery=gallery:SMorstan/54598629&ss=8,3,0" bgcolor="#000000" width="360" height="280" align="middle" allowFullScreen="true" menu="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></object></center>
<p>A number of the images above are for a work-in-progress series tentatively
titled KingdomCards. They are an example of un-cropped drawings made to be
portraits for a trading-card-style game currently in the works. The images in
that series would be cropped and re-sized to properly fit on the cards. There is
one 'finished' card example to show how the images look after being cropped and
sized.</p>


<h1>Photomanipulation/Photography</h1>
<center><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="360" height="280" align="middle"><param name="wmode" value="window" /><param name="movie" value="http://st.deviantart.net/styles/swf/sitback.swf/sitback.swf?v_0_9_7_05" /><param name="menu" value="true" /><param name="quality" value="high" /><param name="bgcolor" value="#000000" /><param name="flashvars" value="rssQuery=gallery:SMorstan/54598632&ss=8,3,0" /><param name="allowFullScreen" value="true" /><embed src="http://st.deviantart.net/styles/swf/sitback.swf/sitback.swf?v_0_9_7_05" quality="high" wmode="window" flashvars="rssQuery=gallery:SMorstan/54598632&ss=8,3,0" bgcolor="#000000" width="360" height="280" align="middle" allowFullScreen="true" menu="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></object></center>
<p>I took all of these photos, save the ones that are of me, and manipulated them each in Photoshop.</p>
