{{extend 'layout.html'}}

<img src=url("static", "images/Sammorstanportfolio2.jpg")></img>
    <p>Welcome to the Portfolio of Sam Morstan</p>
    <p>Samantha Morstan is a writer and artist, working on any number of
    artistic and literary projects at any given time. Her current projects
    are tentatively titled <i>Theomachy</i> and Kingdom Cards, a book and
    a card game, respectively.</p>
    <p>Samantha has received Two AAs from Pierce College (one general, and
    one in Digital Design), and a BA in English (creative writing focus)
    from the University of Washington in Seattle. She has written one play
    (<a
        href="https://drive.google.com/open?id=10pZxn_GDRlkX10jJKeAJ_Dlto9otrR_mcJpipP1x_1Y&authuser=0"
        target="_blank"><i>Doctor, Dealer, Drugged</i></a>), which was
    performed by the University of Washington's Undergraduate Theater
    Society in 2013, as a part of the New Works Festival. She had
    one picture (<i><a href="http://fav.me/d8e7tbi" target="_blank">Cubist 
    Living Statue</a></i>) in the 2015 edition of the Student
    Literary Arts Magazine at Pierce College.</p>

