{{extend 'layout.html'}}
<h1>Written Works</h1>
<ul>
  <li><a href=http://is.gd/Q1JB84><i>Bodge the Boogieman</i></a>, children's book written and drawn in 2014.</li>
  <li><a href=http://is.gd/LPoYAh><i>Doctor, Dealer Drugged</i></a>, written in 2013, 
    performed by UWS Undergraduate Theatre Society</li>
  <li><a href=http://is.gd/UufPCn><i>Fixer of Broken Things</i></a>, written in 2012</li>
  <li><a href=http://is.gd/3qFu08><i>Dirty Feathers</i></a>, written in 2012</li>
  <li><a href=http://is.gd/ngE4xe><i>Operatic Obsession</i></a>, written in 2012</li>
  <li><a
         href=http://pentharis.deviantart.com/art/Where-on-Earth-Spies-C-W-261252735>
          <i>Where on Earth, Spies</i></a>, written in 2011-2012 and unfairly neglected</li>
</ul>
